CourseManagementSystemClientApplication/Connected Services/CourseService/CourseManagementSystem.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CourseManagementSystem" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CourseManagementSystem" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Course">
    <xs:sequence>
      <xs:element minOccurs="0" name="CourseId" type="xs:int" />
      <xs:element minOccurs="0" name="CourseImage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CourseScope" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Payment" type="xs:decimal" />
      <xs:element minOccurs="0" name="TeacherId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Course" nillable="true" type="tns:Course" />
  <xs:complexType name="ArrayOfCourse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Course" nillable="true" type="tns:Course" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCourse" nillable="true" type="tns:ArrayOfCourse" />
</xs:schema>