CourseManagementSystemClientApplication/Connected Services/AdminService/CourseManagementSystem.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CourseManagementSystem" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CourseManagementSystem" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Admin">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdminId" type="xs:int" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Admin" nillable="true" type="tns:Admin" />
  <xs:complexType name="ArrayOfAdmin">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Admin" nillable="true" type="tns:Admin" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdmin" nillable="true" type="tns:ArrayOfAdmin" />
</xs:schema>