CourseManagementSystemClient/Connected Services/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="AdminService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IAdminService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/CourseManagementSystem" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAdminService_GetAdminById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAdminById" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetAdminById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAdminByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetAllAdmins_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAdmins" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetAllAdmins_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAdminsResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_LoginAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginAdmin" />
  </wsdl:message>
  <wsdl:message name="IAdminService_LoginAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_RegisterAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterAdmin" />
  </wsdl:message>
  <wsdl:message name="IAdminService_RegisterAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterAdminResponse" />
  </wsdl:message>
  <wsdl:portType name="IAdminService">
    <wsdl:operation name="GetAdminById">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/GetAdminById" message="tns:IAdminService_GetAdminById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/GetAdminByIdResponse" message="tns:IAdminService_GetAdminById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAdmins">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/GetAllAdmins" message="tns:IAdminService_GetAllAdmins_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/GetAllAdminsResponse" message="tns:IAdminService_GetAllAdmins_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/LoginAdmin" message="tns:IAdminService_LoginAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/LoginAdminResponse" message="tns:IAdminService_LoginAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/RegisterAdmin" message="tns:IAdminService_RegisterAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/RegisterAdminResponse" message="tns:IAdminService_RegisterAdmin_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IAdminService" type="tns:IAdminService">
    <wsp:PolicyReference URI="#NetTcpBinding_IAdminService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetAdminById">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/GetAdminById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAdmins">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/GetAllAdmins" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginAdmin">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/LoginAdmin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterAdmin">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/RegisterAdmin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdminService">
    <wsdl:port name="NetTcpBinding_IAdminService" binding="tns:NetTcpBinding_IAdminService">
      <soap12:address location="net.tcp://localhost:8000/TcpBinding" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8000/TcpBinding</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>YASHVATALIYA\Aryan Vataliya</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>