CourseManagementSystemClientApplication/Connected Services/TeacherService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="TeacherService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ITeacherService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/CourseManagementSystem" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITeacherService_GetTeacherByUsername_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTeacherByUsername" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_GetTeacherByUsername_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTeacherByUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_GetTeacherById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTeacherById" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_GetTeacherById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTeacherByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_getAllTeachers_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllTeachers" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_getAllTeachers_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllTeachersResponse" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_AddTeacher_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTeacher" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_AddTeacher_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTeacherResponse" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_UpdateTeacher_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTeacher" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_UpdateTeacher_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTeacherResponse" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_DeleteTeacher_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTeacher" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_DeleteTeacher_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTeacherResponse" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_LoginTeacher_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginTeacher" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_LoginTeacher_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginTeacherResponse" />
  </wsdl:message>
  <wsdl:portType name="ITeacherService">
    <wsdl:operation name="GetTeacherByUsername">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeacherService/GetTeacherByUsername" message="tns:ITeacherService_GetTeacherByUsername_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeacherService/GetTeacherByUsernameResponse" message="tns:ITeacherService_GetTeacherByUsername_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTeacherById">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeacherService/GetTeacherById" message="tns:ITeacherService_GetTeacherById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeacherService/GetTeacherByIdResponse" message="tns:ITeacherService_GetTeacherById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllTeachers">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeacherService/getAllTeachers" message="tns:ITeacherService_getAllTeachers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeacherService/getAllTeachersResponse" message="tns:ITeacherService_getAllTeachers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTeacher">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeacherService/AddTeacher" message="tns:ITeacherService_AddTeacher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeacherService/AddTeacherResponse" message="tns:ITeacherService_AddTeacher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTeacher">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeacherService/UpdateTeacher" message="tns:ITeacherService_UpdateTeacher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeacherService/UpdateTeacherResponse" message="tns:ITeacherService_UpdateTeacher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTeacher">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeacherService/DeleteTeacher" message="tns:ITeacherService_DeleteTeacher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeacherService/DeleteTeacherResponse" message="tns:ITeacherService_DeleteTeacher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginTeacher">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeacherService/LoginTeacher" message="tns:ITeacherService_LoginTeacher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeacherService/LoginTeacherResponse" message="tns:ITeacherService_LoginTeacher_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ITeacherService" type="tns:ITeacherService">
    <wsp:PolicyReference URI="#NetTcpBinding_ITeacherService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetTeacherByUsername">
      <soap12:operation soapAction="http://tempuri.org/ITeacherService/GetTeacherByUsername" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTeacherById">
      <soap12:operation soapAction="http://tempuri.org/ITeacherService/GetTeacherById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllTeachers">
      <soap12:operation soapAction="http://tempuri.org/ITeacherService/getAllTeachers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTeacher">
      <soap12:operation soapAction="http://tempuri.org/ITeacherService/AddTeacher" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTeacher">
      <soap12:operation soapAction="http://tempuri.org/ITeacherService/UpdateTeacher" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTeacher">
      <soap12:operation soapAction="http://tempuri.org/ITeacherService/DeleteTeacher" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginTeacher">
      <soap12:operation soapAction="http://tempuri.org/ITeacherService/LoginTeacher" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TeacherService">
    <wsdl:port name="NetTcpBinding_ITeacherService" binding="tns:NetTcpBinding_ITeacherService">
      <soap12:address location="net.tcp://localhost:8053/TcpBinding" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8053/TcpBinding</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-MK54KU3\PRITESH</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>